[defaults]
inventory = inventory.yml
roles_path = roles
# The Vagrant VM gets a new SSH host key every time it is recreated.
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
callback_result_format = yaml
forks = 5

[privilege_escalation]
become_method = sudo

[ssh_connection]
pipelining = True
